@model Housemate.Models.Cart

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div>
    <h2>Remove Item</h2>
    <h3>Are you sure, you want to remove the item from the cart?</h3>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger " /> |
            @Html.ActionLink("Return to Cart", "Index", new {})
        </div>
    }
</div>
