
@{
    ViewBag.Title = "ShowError";
    Layout = "~/Views/Shared/AdminRegisterLogin.cshtml";
}

<div class="container-fluid" style="height:100%; width:100%; text-align:center;">
    <h2 style="color:red">Error Occurred</h2>
    <h4>@ViewBag.ErrorMessage</h4>
</div>

